.index {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 1em;
  background: #eeeeee;
}

@media all and (max-width: 480px) {
  .index {
    font-size: 2.5em;
  }
}

@media all and (min-width: 481px) {
  .index {
    font-size: 4em;
  }
}

@media all and (min-width: 768px) {
  .index {
    font-size: 7em;
  }
}

.index span.code {
  color: #27ae60;
}

.index span.grey {
  color: #7f8c8d;
}

.index span.color {
  color: #27ae60;
}

.index .sub {
  color: #212121;
  font-size: .5em;
}

.index .descripcion {
  margin-top: 1em;
  text-align: center;
  width: 50%;
  color: #212121;
  font-size: .2em;
}

@media all and (max-width: 480px) {
  .index .descripcion {
    width: 80%;
    font-size: .4em;
  }
}

.index .fila {
  width: 80%;
}
