.index {
  background: #2c3e50;
  padding: 1em 0;
  text-align: center;
}

@media all and (max-width: 480px) {
  .index {
    font-size: 1em;
  }
}

@media all and (min-width: 481px) {
  .index {
    font-size: 4em;
  }
}

@media all and (min-width: 768px) {
  .index {
    font-size: 7em;
  }
}

span.grey {
  color: #bdc3c7;
  text-decoration: line-through;
}

span.orange {
  color: #e67e22;
}

+ h2 {
  font-weight: 500;
  padding: 0 0 2em 0;
}
