@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
/* // Presentacion de codigo de trabajo */
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  color: #4d4d4d;
  font-family: 'Ubuntu';
  font-size: 1em;
  line-height: 1.42857;
}

h1, h2, h3 {
  display: block;
  widht: 100%;
  margin: 20px 0 10px 0;
}

h1 small, h2 small, h3 small {
  font-size: 75%;
}

h4, h5, h5 {
  margin: 10px 0 10px 0;
}

h4 small, h5 small, h5 small {
  font-size: 80%;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.95em;
}

h3 {
  font-size: 1.65em;
}

h4 {
  font-size: 1.35em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-size: 0.75em;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #2196f3;
}

a:hover {
  color: #0960a5;
}

a:not(.btn) {
  color: none;
}

hr {
  border: none;
  border-top: 1px solid rgba(158, 158, 158, 0.5);
}

.bg-rojo-c {
  background-color: #f29f97 !important;
}

.bg-rojo {
  background-color: #e74c3c !important;
}

.bg-rojo-o {
  background-color: #a82315 !important;
}

.tcolor-rojo-c {
  color: #f29f97 !important;
}

.tcolor-rojo {
  color: #e74c3c !important;
}

.tcolor-rojo-o {
  color: #a82315 !important;
}

.bg-rosa-c {
  background-color: #f27ba3 !important;
}

.bg-rosa {
  background-color: #e91e63 !important;
}

.bg-rosa-o {
  background-color: #930e3b !important;
}

.tcolor-rosa-c {
  color: #f27ba3 !important;
}

.tcolor-rosa {
  color: #e91e63 !important;
}

.tcolor-rosa-o {
  color: #930e3b !important;
}

.bg-purpura-c {
  background-color: #ca61dc !important;
}

.bg-purpura {
  background-color: #9c27b0 !important;
}

.bg-purpura-o {
  background-color: #52145d !important;
}

.tcolor-purpura-c {
  color: #ca61dc !important;
}

.tcolor-purpura {
  color: #9c27b0 !important;
}

.tcolor-purpura-o {
  color: #52145d !important;
}

.bg-violeta-c {
  background-color: #9f80d7 !important;
}

.bg-violeta {
  background-color: #673ab7 !important;
}

.bg-violeta-o {
  background-color: #3b216a !important;
}

.tcolor-violeta-c {
  color: #9f80d7 !important;
}

.tcolor-violeta {
  color: #673ab7 !important;
}

.tcolor-violeta-o {
  color: #3b216a !important;
}

.bg-indigo-c {
  background-color: #8591d5 !important;
}

.bg-indigo {
  background-color: #3f51b5 !important;
}

.bg-indigo-o {
  background-color: #252f69 !important;
}

.tcolor-indigo-c {
  color: #8591d5 !important;
}

.tcolor-indigo {
  color: #3f51b5 !important;
}

.tcolor-indigo-o {
  color: #252f69 !important;
}

.bg-azul-c {
  background-color: #82c4f8 !important;
}

.bg-azul {
  background-color: #2196f3 !important;
}

.bg-azul-o {
  background-color: #0960a5 !important;
}

.tcolor-azul-c {
  color: #82c4f8 !important;
}

.tcolor-azul {
  color: #2196f3 !important;
}

.tcolor-azul-o {
  color: #0960a5 !important;
}

.bg-oceano-c {
  background-color: #60ccfd !important;
}

.bg-oceano {
  background-color: #03a9f4 !important;
}

.bg-oceano-o {
  background-color: #02638f !important;
}

.tcolor-oceano-c {
  color: #60ccfd !important;
}

.tcolor-oceano {
  color: #03a9f4 !important;
}

.tcolor-oceano-o {
  color: #02638f !important;
}

.bg-cyan-c {
  background-color: #3be9ff !important;
}

.bg-cyan {
  background-color: #00bcd4 !important;
}

.bg-cyan-o {
  background-color: #00626e !important;
}

.tcolor-cyan-c {
  color: #3be9ff !important;
}

.tcolor-cyan {
  color: #00bcd4 !important;
}

.tcolor-cyan-o {
  color: #00626e !important;
}

.bg-teal-c {
  background-color: #00fce4 !important;
}

.bg-teal {
  background-color: #009688 !important;
}

.bg-teal-o {
  background-color: #00302c !important;
}

.tcolor-teal-c {
  color: #00fce4 !important;
}

.tcolor-teal {
  color: #009688 !important;
}

.tcolor-teal-o {
  color: #00302c !important;
}

.bg-verde-c {
  background-color: #aaeac5 !important;
}

.bg-verde {
  background-color: #58d68d !important;
}

.bg-verde-o {
  background-color: #27a15a !important;
}

.tcolor-verde-c {
  color: #aaeac5 !important;
}

.tcolor-verde {
  color: #58d68d !important;
}

.tcolor-verde-o {
  color: #27a15a !important;
}

.bg-aceituna-c {
  background-color: #bcdc97 !important;
}

.bg-aceituna {
  background-color: #8bc34a !important;
}

.bg-aceituna-o {
  background-color: #577d2a !important;
}

.tcolor-aceituna-c {
  color: #bcdc97 !important;
}

.tcolor-aceituna {
  color: #8bc34a !important;
}

.tcolor-aceituna-o {
  color: #577d2a !important;
}

.bg-lima-c {
  background-color: #e3eb90 !important;
}

.bg-lima {
  background-color: #cddc39 !important;
}

.bg-lima-o {
  background-color: #89951a !important;
}

.tcolor-lima-c {
  color: #e3eb90 !important;
}

.tcolor-lima {
  color: #cddc39 !important;
}

.tcolor-lima-o {
  color: #89951a !important;
}

.bg-amarillo-c {
  background-color: #fff5a1 !important;
}

.bg-amarillo {
  background-color: #ffeb3b !important;
}

.bg-amarillo-o {
  background-color: #d4be00 !important;
}

.tcolor-amarillo-c {
  color: #fff5a1 !important;
}

.tcolor-amarillo {
  color: #ffeb3b !important;
}

.tcolor-amarillo-o {
  color: #d4be00 !important;
}

.bg-amber-c {
  background-color: #ffdb6d !important;
}

.bg-amber {
  background-color: #ffc107 !important;
}

.bg-amber-o {
  background-color: #a07800 !important;
}

.tcolor-amber-c {
  color: #ffdb6d !important;
}

.tcolor-amber {
  color: #ffc107 !important;
}

.tcolor-amber-o {
  color: #a07800 !important;
}

.bg-naranja-c {
  background-color: #ffc166 !important;
}

.bg-naranja {
  background-color: #ff9800 !important;
}

.bg-naranja-o {
  background-color: #995b00 !important;
}

.tcolor-naranja-c {
  color: #ffc166 !important;
}

.tcolor-naranja {
  color: #ff9800 !important;
}

.tcolor-naranja-o {
  color: #995b00 !important;
}

.bg-calabaza-c {
  background-color: #ffa588 !important;
}

.bg-calabaza {
  background-color: #ff5722 !important;
}

.bg-calabaza-o {
  background-color: #bb2d00 !important;
}

.tcolor-calabaza-c {
  color: #ffa588 !important;
}

.tcolor-calabaza {
  color: #ff5722 !important;
}

.tcolor-calabaza-o {
  color: #bb2d00 !important;
}

.bg-marron-c {
  background-color: #af8778 !important;
}

.bg-marron {
  background-color: #795548 !important;
}

.bg-marron-o {
  background-color: #392822 !important;
}

.tcolor-marron-c {
  color: #af8778 !important;
}

.tcolor-marron {
  color: #795548 !important;
}

.tcolor-marron-o {
  color: #392822 !important;
}

.bg-gris-c {
  background-color: #d1d1d1 !important;
}

.bg-gris {
  background-color: #9e9e9e !important;
}

.bg-gris-o {
  background-color: #6b6b6b !important;
}

.tcolor-gris-c {
  color: #d1d1d1 !important;
}

.tcolor-gris {
  color: #9e9e9e !important;
}

.tcolor-gris-o {
  color: #6b6b6b !important;
}

.bg-asbesto-c {
  background-color: #99aeb8 !important;
}

.bg-asbesto {
  background-color: #607d8b !important;
}

.bg-asbesto-o {
  background-color: #36474f !important;
}

.tcolor-asbesto-c {
  color: #99aeb8 !important;
}

.tcolor-asbesto {
  color: #607d8b !important;
}

.tcolor-asbesto-o {
  color: #36474f !important;
}

.bg-carbon-c {
  background-color: gray !important;
}

.bg-carbon {
  background-color: #4d4d4d !important;
}

.bg-carbon-o {
  background-color: #1a1a1a !important;
}

.tcolor-carbon-c {
  color: gray !important;
}

.tcolor-carbon {
  color: #4d4d4d !important;
}

.tcolor-carbon-o {
  color: #1a1a1a !important;
}

.bg-blanco-c {
  background-color: white !important;
}

.bg-blanco {
  background-color: white !important;
}

.bg-blanco-o {
  background-color: #cccccc !important;
}

.tcolor-blanco-c {
  color: white !important;
}

.tcolor-blanco {
  color: white !important;
}

.tcolor-blanco-o {
  color: #cccccc !important;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-justify {
  text-align: justify;
}

.t-muted {
  color: #9e9e9e;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-lowercase {
  text-transform: lowercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.m-top-5 {
  margin-top: 5px !important;
}

.m-top-10 {
  margin-top: 10px !important;
}

.m-top-15 {
  margin-top: 15px !important;
}

.m-top-20 {
  margin-top: 20px !important;
}

.m-top-25 {
  margin-top: 25px !important;
}

.m-left-5 {
  margin-left: 5px !important;
}

.m-left-10 {
  margin-left: 10px !important;
}

.m-left-15 {
  margin-left: 15px !important;
}

.m-left-20 {
  margin-left: 20px !important;
}

.m-left-25 {
  margin-left: 25px !important;
}

.m-bottom-5 {
  margin-bottom: 5px !important;
}

.m-bottom-10 {
  margin-bottom: 10px !important;
}

.m-bottom-15 {
  margin-bottom: 15px !important;
}

.m-bottom-20 {
  margin-bottom: 20px !important;
}

.m-bottom-25 {
  margin-bottom: 25px !important;
}

.m-right-5 {
  margin-right: 5px !important;
}

.m-right-10 {
  margin-right: 10px !important;
}

.m-right-15 {
  margin-right: 15px !important;
}

.m-right-20 {
  margin-right: 20px !important;
}

.m-right-25 {
  margin-right: 25px !important;
}

.tab1:before {
  content: "•  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab2:before {
  content: "•  •  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab3:before {
  content: "•  •  •  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab4:before {
  content: "•  •  •  •  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab5:before {
  content: "•  •  •  •  •  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab6:before {
  content: "•  •  •  •  •  •  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab7:before {
  content: "•  •  •  •  •  •  •  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab8:before {
  content: "•  •  •  •  •  •  •  •  ";
  color: rgba(255, 255, 255, 0.1);
}

.tab9:before {
  content: "•  •  •  •  •  •  •  •  •  ";
  color: rgba(255, 255, 255, 0.1);
}

@media all and (max-width: 479px) {
  .hide-xs {
    display: none;
  }
}

@media all and (min-width: 480px) {
  .hide-sm {
    display: none !important;
  }
}

@media all and (min-width: 768px) {
  .hide-md {
    display: none !important;
  }
}

@media all and (min-width: 1024px) {
  .hide-lg {
    display: none !important;
  }
}

.block {
  width: 100% !important;
}

/* // Espaciado de los elementos */
.between, .around {
  display: flex;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

/* // Redimension de los elementos */
.d2 {
  transform: scale(0.7);
}

.m2 {
  transform: scale(1.3);
}

.inside, .inside:before {
  color: #ffe821 !important;
}

ol.codigo {
  position: relative;
  width: 100%;
  /* Color */
  background: #1e1e1e;
  color: white;
  padding: 30px 8px 0 40px;
  margin: 0 0 10px 0;
  border: 2px solid #525252;
  border-radius: 10px 10px 5px 5px;
  font-family: courier;
  font-size: .8em;
  overflow: hidden;
}

@media (max-width: 480px) {
  ol.codigo {
    font-size: .7em;
  }
}

@media (max-width: 768px) {
  ol.codigo {
    width: 100%;
  }
}

ol.codigo:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "< codigo />";
  width: 100%;
  line-height: 30px;
  padding-right: 14.28571px;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
  color: #d1d1d1;
  background: #383838;
}

@media (max-width: 480px) {
  ol.codigo:before {
    font-size: 1em;
  }
}

ol.codigo:after {
  position: absolute;
  top: 30px;
  left: 0;
  content: "";
  background: rgba(5, 5, 5, 0.8);
  width: 40px;
  height: calc(100% - 30px);
}

ol.codigo li {
  cursor: pointer;
  color: #d1d1d1;
  width: calc(100% + 10px);
  padding-left: 10px;
}

ol.codigo li:hover {
  background: rgba(56, 56, 56, 0.5);
}

.contenedor {
  width: 80%;
  margin: auto;
  min-height: 100vh;
}

@media all and (max-width: 480px) {
  .contenedor {
    width: 98%;
  }
}

@media (min-width: 768px) {
  .contenedor {
    width: 748px;
  }
}

@media (min-width: 1024px) {
  .contenedor {
    width: 994px;
  }
}

.fila {
  position: relative;
  margin: 5px auto;
  padding: 0 5px;
  width: 100%;
  overflow: auto;
  clear: both;
}

.fila .fila {
  padding: 0;
}

[class*="xs-"], [class*="sm-"], [class*="md-"], [class*="lg-"] {
  position: relative;
  float: left;
  width: 100%;
  margin-right: 10px;
}

[class*="xs-"]:last-child, [class*="sm-"]:last-child, [class*="md-"]:last-child, [class*="lg-"]:last-child {
  margin-right: 0 !important;
}

.xs-1-1 {
  width: calc(100% - 0px);
}

.push-xs-1-1 {
  margin-left: 100%;
}

.xs-1-2 {
  width: calc(50% - 5px);
}

.push-xs-1-2 {
  margin-left: 50%;
}

.xs-1-3 {
  width: calc(33.33333% - 6.66667px);
}

.push-xs-1-3 {
  margin-left: 33.33333%;
}

.xs-1-4 {
  width: calc(25% - 7.5px);
}

.push-xs-1-4 {
  margin-left: 25%;
}

.xs-1-5 {
  width: calc(20% - 8px);
}

.push-xs-1-5 {
  margin-left: 20%;
}

.xs-1-6 {
  width: calc(16.66667% - 8.33333px);
}

.push-xs-1-6 {
  margin-left: 16.66667%;
}

.xs-1-7 {
  width: calc(14.28571% - 8.57143px);
}

.push-xs-1-7 {
  margin-left: 14.28571%;
}

.xs-1-8 {
  width: calc(12.5% - 8.75px);
}

.push-xs-1-8 {
  margin-left: 12.5%;
}

.xs-1-9 {
  width: calc(11.11111% - 8.88889px);
}

.push-xs-1-9 {
  margin-left: 11.11111%;
}

.xs-1-10 {
  width: calc(10% - 9px);
}

.push-xs-1-10 {
  margin-left: 10%;
}

.xs-1-11 {
  width: calc(9.09091% - 9.09091px);
}

.push-xs-1-11 {
  margin-left: 9.09091%;
}

.xs-1-12 {
  width: calc(8.33333% - 9.16667px);
}

.push-xs-1-12 {
  margin-left: 8.33333%;
}

.xs-2-2 {
  width: calc(100% - 0px);
}

.push-xs-2-2 {
  margin-left: 100%;
}

.xs-2-3 {
  width: calc(66.66667% - 3.33333px);
}

.push-xs-2-3 {
  margin-left: 66.66667%;
}

.xs-2-4 {
  width: calc(50% - 5px);
}

.push-xs-2-4 {
  margin-left: 50%;
}

.xs-2-5 {
  width: calc(40% - 6px);
}

.push-xs-2-5 {
  margin-left: 40%;
}

.xs-2-6 {
  width: calc(33.33333% - 6.66667px);
}

.push-xs-2-6 {
  margin-left: 33.33333%;
}

.xs-2-7 {
  width: calc(28.57143% - 7.14286px);
}

.push-xs-2-7 {
  margin-left: 28.57143%;
}

.xs-2-8 {
  width: calc(25% - 7.5px);
}

.push-xs-2-8 {
  margin-left: 25%;
}

.xs-2-9 {
  width: calc(22.22222% - 7.77778px);
}

.push-xs-2-9 {
  margin-left: 22.22222%;
}

.xs-2-10 {
  width: calc(20% - 8px);
}

.push-xs-2-10 {
  margin-left: 20%;
}

.xs-2-11 {
  width: calc(18.18182% - 8.18182px);
}

.push-xs-2-11 {
  margin-left: 18.18182%;
}

.xs-2-12 {
  width: calc(16.66667% - 8.33333px);
}

.push-xs-2-12 {
  margin-left: 16.66667%;
}

.xs-3-3 {
  width: calc(100% - 0px);
}

.push-xs-3-3 {
  margin-left: 100%;
}

.xs-3-4 {
  width: calc(75% - 2.5px);
}

.push-xs-3-4 {
  margin-left: 75%;
}

.xs-3-5 {
  width: calc(60% - 4px);
}

.push-xs-3-5 {
  margin-left: 60%;
}

.xs-3-6 {
  width: calc(50% - 5px);
}

.push-xs-3-6 {
  margin-left: 50%;
}

.xs-3-7 {
  width: calc(42.85714% - 5.71429px);
}

.push-xs-3-7 {
  margin-left: 42.85714%;
}

.xs-3-8 {
  width: calc(37.5% - 6.25px);
}

.push-xs-3-8 {
  margin-left: 37.5%;
}

.xs-3-9 {
  width: calc(33.33333% - 6.66667px);
}

.push-xs-3-9 {
  margin-left: 33.33333%;
}

.xs-3-10 {
  width: calc(30% - 7px);
}

.push-xs-3-10 {
  margin-left: 30%;
}

.xs-3-11 {
  width: calc(27.27273% - 7.27273px);
}

.push-xs-3-11 {
  margin-left: 27.27273%;
}

.xs-3-12 {
  width: calc(25% - 7.5px);
}

.push-xs-3-12 {
  margin-left: 25%;
}

.xs-4-4 {
  width: calc(100% - 0px);
}

.push-xs-4-4 {
  margin-left: 100%;
}

.xs-4-5 {
  width: calc(80% - 2px);
}

.push-xs-4-5 {
  margin-left: 80%;
}

.xs-4-6 {
  width: calc(66.66667% - 3.33333px);
}

.push-xs-4-6 {
  margin-left: 66.66667%;
}

.xs-4-7 {
  width: calc(57.14286% - 4.28571px);
}

.push-xs-4-7 {
  margin-left: 57.14286%;
}

.xs-4-8 {
  width: calc(50% - 5px);
}

.push-xs-4-8 {
  margin-left: 50%;
}

.xs-4-9 {
  width: calc(44.44444% - 5.55556px);
}

.push-xs-4-9 {
  margin-left: 44.44444%;
}

.xs-4-10 {
  width: calc(40% - 6px);
}

.push-xs-4-10 {
  margin-left: 40%;
}

.xs-4-11 {
  width: calc(36.36364% - 6.36364px);
}

.push-xs-4-11 {
  margin-left: 36.36364%;
}

.xs-4-12 {
  width: calc(33.33333% - 6.66667px);
}

.push-xs-4-12 {
  margin-left: 33.33333%;
}

.xs-5-5 {
  width: calc(100% - 0px);
}

.push-xs-5-5 {
  margin-left: 100%;
}

.xs-5-6 {
  width: calc(83.33333% - 1.66667px);
}

.push-xs-5-6 {
  margin-left: 83.33333%;
}

.xs-5-7 {
  width: calc(71.42857% - 2.85714px);
}

.push-xs-5-7 {
  margin-left: 71.42857%;
}

.xs-5-8 {
  width: calc(62.5% - 3.75px);
}

.push-xs-5-8 {
  margin-left: 62.5%;
}

.xs-5-9 {
  width: calc(55.55556% - 4.44444px);
}

.push-xs-5-9 {
  margin-left: 55.55556%;
}

.xs-5-10 {
  width: calc(50% - 5px);
}

.push-xs-5-10 {
  margin-left: 50%;
}

.xs-5-11 {
  width: calc(45.45455% - 5.45455px);
}

.push-xs-5-11 {
  margin-left: 45.45455%;
}

.xs-5-12 {
  width: calc(41.66667% - 5.83333px);
}

.push-xs-5-12 {
  margin-left: 41.66667%;
}

.xs-6-6 {
  width: calc(100% - 0px);
}

.push-xs-6-6 {
  margin-left: 100%;
}

.xs-6-7 {
  width: calc(85.71429% - 1.42857px);
}

.push-xs-6-7 {
  margin-left: 85.71429%;
}

.xs-6-8 {
  width: calc(75% - 2.5px);
}

.push-xs-6-8 {
  margin-left: 75%;
}

.xs-6-9 {
  width: calc(66.66667% - 3.33333px);
}

.push-xs-6-9 {
  margin-left: 66.66667%;
}

.xs-6-10 {
  width: calc(60% - 4px);
}

.push-xs-6-10 {
  margin-left: 60%;
}

.xs-6-11 {
  width: calc(54.54545% - 4.54545px);
}

.push-xs-6-11 {
  margin-left: 54.54545%;
}

.xs-6-12 {
  width: calc(50% - 5px);
}

.push-xs-6-12 {
  margin-left: 50%;
}

.xs-7-7 {
  width: calc(100% - 0px);
}

.push-xs-7-7 {
  margin-left: 100%;
}

.xs-7-8 {
  width: calc(87.5% - 1.25px);
}

.push-xs-7-8 {
  margin-left: 87.5%;
}

.xs-7-9 {
  width: calc(77.77778% - 2.22222px);
}

.push-xs-7-9 {
  margin-left: 77.77778%;
}

.xs-7-10 {
  width: calc(70% - 3px);
}

.push-xs-7-10 {
  margin-left: 70%;
}

.xs-7-11 {
  width: calc(63.63636% - 3.63636px);
}

.push-xs-7-11 {
  margin-left: 63.63636%;
}

.xs-7-12 {
  width: calc(58.33333% - 4.16667px);
}

.push-xs-7-12 {
  margin-left: 58.33333%;
}

.xs-8-8 {
  width: calc(100% - 0px);
}

.push-xs-8-8 {
  margin-left: 100%;
}

.xs-8-9 {
  width: calc(88.88889% - 1.11111px);
}

.push-xs-8-9 {
  margin-left: 88.88889%;
}

.xs-8-10 {
  width: calc(80% - 2px);
}

.push-xs-8-10 {
  margin-left: 80%;
}

.xs-8-11 {
  width: calc(72.72727% - 2.72727px);
}

.push-xs-8-11 {
  margin-left: 72.72727%;
}

.xs-8-12 {
  width: calc(66.66667% - 3.33333px);
}

.push-xs-8-12 {
  margin-left: 66.66667%;
}

.xs-9-9 {
  width: calc(100% - 0px);
}

.push-xs-9-9 {
  margin-left: 100%;
}

.xs-9-10 {
  width: calc(90% - 1px);
}

.push-xs-9-10 {
  margin-left: 90%;
}

.xs-9-11 {
  width: calc(81.81818% - 1.81818px);
}

.push-xs-9-11 {
  margin-left: 81.81818%;
}

.xs-9-12 {
  width: calc(75% - 2.5px);
}

.push-xs-9-12 {
  margin-left: 75%;
}

.xs-10-10 {
  width: calc(100% - 0px);
}

.push-xs-10-10 {
  margin-left: 100%;
}

.xs-10-11 {
  width: calc(90.90909% - 0.90909px);
}

.push-xs-10-11 {
  margin-left: 90.90909%;
}

.xs-10-12 {
  width: calc(83.33333% - 1.66667px);
}

.push-xs-10-12 {
  margin-left: 83.33333%;
}

.xs-11-11 {
  width: calc(100% - 0px);
}

.push-xs-11-11 {
  margin-left: 100%;
}

.xs-11-12 {
  width: calc(91.66667% - 0.83333px);
}

.push-xs-11-12 {
  margin-left: 91.66667%;
}

.xs-12-12 {
  width: calc(100% - 0px);
}

.push-xs-12-12 {
  margin-left: 100%;
}

@media screen and (min-width: 480px) {
  .sm-1-1 {
    width: calc(100% - 0px);
  }
  .push-sm-1-1 {
    margin-left: 100%;
  }
  .sm-1-2 {
    width: calc(50% - 5px);
  }
  .push-sm-1-2 {
    margin-left: 50%;
  }
  .sm-1-3 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-sm-1-3 {
    margin-left: 33.33333%;
  }
  .sm-1-4 {
    width: calc(25% - 7.5px);
  }
  .push-sm-1-4 {
    margin-left: 25%;
  }
  .sm-1-5 {
    width: calc(20% - 8px);
  }
  .push-sm-1-5 {
    margin-left: 20%;
  }
  .sm-1-6 {
    width: calc(16.66667% - 8.33333px);
  }
  .push-sm-1-6 {
    margin-left: 16.66667%;
  }
  .sm-1-7 {
    width: calc(14.28571% - 8.57143px);
  }
  .push-sm-1-7 {
    margin-left: 14.28571%;
  }
  .sm-1-8 {
    width: calc(12.5% - 8.75px);
  }
  .push-sm-1-8 {
    margin-left: 12.5%;
  }
  .sm-1-9 {
    width: calc(11.11111% - 8.88889px);
  }
  .push-sm-1-9 {
    margin-left: 11.11111%;
  }
  .sm-1-10 {
    width: calc(10% - 9px);
  }
  .push-sm-1-10 {
    margin-left: 10%;
  }
  .sm-1-11 {
    width: calc(9.09091% - 9.09091px);
  }
  .push-sm-1-11 {
    margin-left: 9.09091%;
  }
  .sm-1-12 {
    width: calc(8.33333% - 9.16667px);
  }
  .push-sm-1-12 {
    margin-left: 8.33333%;
  }
  .sm-2-2 {
    width: calc(100% - 0px);
  }
  .push-sm-2-2 {
    margin-left: 100%;
  }
  .sm-2-3 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-sm-2-3 {
    margin-left: 66.66667%;
  }
  .sm-2-4 {
    width: calc(50% - 5px);
  }
  .push-sm-2-4 {
    margin-left: 50%;
  }
  .sm-2-5 {
    width: calc(40% - 6px);
  }
  .push-sm-2-5 {
    margin-left: 40%;
  }
  .sm-2-6 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-sm-2-6 {
    margin-left: 33.33333%;
  }
  .sm-2-7 {
    width: calc(28.57143% - 7.14286px);
  }
  .push-sm-2-7 {
    margin-left: 28.57143%;
  }
  .sm-2-8 {
    width: calc(25% - 7.5px);
  }
  .push-sm-2-8 {
    margin-left: 25%;
  }
  .sm-2-9 {
    width: calc(22.22222% - 7.77778px);
  }
  .push-sm-2-9 {
    margin-left: 22.22222%;
  }
  .sm-2-10 {
    width: calc(20% - 8px);
  }
  .push-sm-2-10 {
    margin-left: 20%;
  }
  .sm-2-11 {
    width: calc(18.18182% - 8.18182px);
  }
  .push-sm-2-11 {
    margin-left: 18.18182%;
  }
  .sm-2-12 {
    width: calc(16.66667% - 8.33333px);
  }
  .push-sm-2-12 {
    margin-left: 16.66667%;
  }
  .sm-3-3 {
    width: calc(100% - 0px);
  }
  .push-sm-3-3 {
    margin-left: 100%;
  }
  .sm-3-4 {
    width: calc(75% - 2.5px);
  }
  .push-sm-3-4 {
    margin-left: 75%;
  }
  .sm-3-5 {
    width: calc(60% - 4px);
  }
  .push-sm-3-5 {
    margin-left: 60%;
  }
  .sm-3-6 {
    width: calc(50% - 5px);
  }
  .push-sm-3-6 {
    margin-left: 50%;
  }
  .sm-3-7 {
    width: calc(42.85714% - 5.71429px);
  }
  .push-sm-3-7 {
    margin-left: 42.85714%;
  }
  .sm-3-8 {
    width: calc(37.5% - 6.25px);
  }
  .push-sm-3-8 {
    margin-left: 37.5%;
  }
  .sm-3-9 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-sm-3-9 {
    margin-left: 33.33333%;
  }
  .sm-3-10 {
    width: calc(30% - 7px);
  }
  .push-sm-3-10 {
    margin-left: 30%;
  }
  .sm-3-11 {
    width: calc(27.27273% - 7.27273px);
  }
  .push-sm-3-11 {
    margin-left: 27.27273%;
  }
  .sm-3-12 {
    width: calc(25% - 7.5px);
  }
  .push-sm-3-12 {
    margin-left: 25%;
  }
  .sm-4-4 {
    width: calc(100% - 0px);
  }
  .push-sm-4-4 {
    margin-left: 100%;
  }
  .sm-4-5 {
    width: calc(80% - 2px);
  }
  .push-sm-4-5 {
    margin-left: 80%;
  }
  .sm-4-6 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-sm-4-6 {
    margin-left: 66.66667%;
  }
  .sm-4-7 {
    width: calc(57.14286% - 4.28571px);
  }
  .push-sm-4-7 {
    margin-left: 57.14286%;
  }
  .sm-4-8 {
    width: calc(50% - 5px);
  }
  .push-sm-4-8 {
    margin-left: 50%;
  }
  .sm-4-9 {
    width: calc(44.44444% - 5.55556px);
  }
  .push-sm-4-9 {
    margin-left: 44.44444%;
  }
  .sm-4-10 {
    width: calc(40% - 6px);
  }
  .push-sm-4-10 {
    margin-left: 40%;
  }
  .sm-4-11 {
    width: calc(36.36364% - 6.36364px);
  }
  .push-sm-4-11 {
    margin-left: 36.36364%;
  }
  .sm-4-12 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-sm-4-12 {
    margin-left: 33.33333%;
  }
  .sm-5-5 {
    width: calc(100% - 0px);
  }
  .push-sm-5-5 {
    margin-left: 100%;
  }
  .sm-5-6 {
    width: calc(83.33333% - 1.66667px);
  }
  .push-sm-5-6 {
    margin-left: 83.33333%;
  }
  .sm-5-7 {
    width: calc(71.42857% - 2.85714px);
  }
  .push-sm-5-7 {
    margin-left: 71.42857%;
  }
  .sm-5-8 {
    width: calc(62.5% - 3.75px);
  }
  .push-sm-5-8 {
    margin-left: 62.5%;
  }
  .sm-5-9 {
    width: calc(55.55556% - 4.44444px);
  }
  .push-sm-5-9 {
    margin-left: 55.55556%;
  }
  .sm-5-10 {
    width: calc(50% - 5px);
  }
  .push-sm-5-10 {
    margin-left: 50%;
  }
  .sm-5-11 {
    width: calc(45.45455% - 5.45455px);
  }
  .push-sm-5-11 {
    margin-left: 45.45455%;
  }
  .sm-5-12 {
    width: calc(41.66667% - 5.83333px);
  }
  .push-sm-5-12 {
    margin-left: 41.66667%;
  }
  .sm-6-6 {
    width: calc(100% - 0px);
  }
  .push-sm-6-6 {
    margin-left: 100%;
  }
  .sm-6-7 {
    width: calc(85.71429% - 1.42857px);
  }
  .push-sm-6-7 {
    margin-left: 85.71429%;
  }
  .sm-6-8 {
    width: calc(75% - 2.5px);
  }
  .push-sm-6-8 {
    margin-left: 75%;
  }
  .sm-6-9 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-sm-6-9 {
    margin-left: 66.66667%;
  }
  .sm-6-10 {
    width: calc(60% - 4px);
  }
  .push-sm-6-10 {
    margin-left: 60%;
  }
  .sm-6-11 {
    width: calc(54.54545% - 4.54545px);
  }
  .push-sm-6-11 {
    margin-left: 54.54545%;
  }
  .sm-6-12 {
    width: calc(50% - 5px);
  }
  .push-sm-6-12 {
    margin-left: 50%;
  }
  .sm-7-7 {
    width: calc(100% - 0px);
  }
  .push-sm-7-7 {
    margin-left: 100%;
  }
  .sm-7-8 {
    width: calc(87.5% - 1.25px);
  }
  .push-sm-7-8 {
    margin-left: 87.5%;
  }
  .sm-7-9 {
    width: calc(77.77778% - 2.22222px);
  }
  .push-sm-7-9 {
    margin-left: 77.77778%;
  }
  .sm-7-10 {
    width: calc(70% - 3px);
  }
  .push-sm-7-10 {
    margin-left: 70%;
  }
  .sm-7-11 {
    width: calc(63.63636% - 3.63636px);
  }
  .push-sm-7-11 {
    margin-left: 63.63636%;
  }
  .sm-7-12 {
    width: calc(58.33333% - 4.16667px);
  }
  .push-sm-7-12 {
    margin-left: 58.33333%;
  }
  .sm-8-8 {
    width: calc(100% - 0px);
  }
  .push-sm-8-8 {
    margin-left: 100%;
  }
  .sm-8-9 {
    width: calc(88.88889% - 1.11111px);
  }
  .push-sm-8-9 {
    margin-left: 88.88889%;
  }
  .sm-8-10 {
    width: calc(80% - 2px);
  }
  .push-sm-8-10 {
    margin-left: 80%;
  }
  .sm-8-11 {
    width: calc(72.72727% - 2.72727px);
  }
  .push-sm-8-11 {
    margin-left: 72.72727%;
  }
  .sm-8-12 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-sm-8-12 {
    margin-left: 66.66667%;
  }
  .sm-9-9 {
    width: calc(100% - 0px);
  }
  .push-sm-9-9 {
    margin-left: 100%;
  }
  .sm-9-10 {
    width: calc(90% - 1px);
  }
  .push-sm-9-10 {
    margin-left: 90%;
  }
  .sm-9-11 {
    width: calc(81.81818% - 1.81818px);
  }
  .push-sm-9-11 {
    margin-left: 81.81818%;
  }
  .sm-9-12 {
    width: calc(75% - 2.5px);
  }
  .push-sm-9-12 {
    margin-left: 75%;
  }
  .sm-10-10 {
    width: calc(100% - 0px);
  }
  .push-sm-10-10 {
    margin-left: 100%;
  }
  .sm-10-11 {
    width: calc(90.90909% - 0.90909px);
  }
  .push-sm-10-11 {
    margin-left: 90.90909%;
  }
  .sm-10-12 {
    width: calc(83.33333% - 1.66667px);
  }
  .push-sm-10-12 {
    margin-left: 83.33333%;
  }
  .sm-11-11 {
    width: calc(100% - 0px);
  }
  .push-sm-11-11 {
    margin-left: 100%;
  }
  .sm-11-12 {
    width: calc(91.66667% - 0.83333px);
  }
  .push-sm-11-12 {
    margin-left: 91.66667%;
  }
  .sm-12-12 {
    width: calc(100% - 0px);
  }
  .push-sm-12-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .md-1-1 {
    width: calc(100% - 0px);
  }
  .push-md-1-1 {
    margin-left: 100%;
  }
  .md-1-2 {
    width: calc(50% - 5px);
  }
  .push-md-1-2 {
    margin-left: 50%;
  }
  .md-1-3 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-md-1-3 {
    margin-left: 33.33333%;
  }
  .md-1-4 {
    width: calc(25% - 7.5px);
  }
  .push-md-1-4 {
    margin-left: 25%;
  }
  .md-1-5 {
    width: calc(20% - 8px);
  }
  .push-md-1-5 {
    margin-left: 20%;
  }
  .md-1-6 {
    width: calc(16.66667% - 8.33333px);
  }
  .push-md-1-6 {
    margin-left: 16.66667%;
  }
  .md-1-7 {
    width: calc(14.28571% - 8.57143px);
  }
  .push-md-1-7 {
    margin-left: 14.28571%;
  }
  .md-1-8 {
    width: calc(12.5% - 8.75px);
  }
  .push-md-1-8 {
    margin-left: 12.5%;
  }
  .md-1-9 {
    width: calc(11.11111% - 8.88889px);
  }
  .push-md-1-9 {
    margin-left: 11.11111%;
  }
  .md-1-10 {
    width: calc(10% - 9px);
  }
  .push-md-1-10 {
    margin-left: 10%;
  }
  .md-1-11 {
    width: calc(9.09091% - 9.09091px);
  }
  .push-md-1-11 {
    margin-left: 9.09091%;
  }
  .md-1-12 {
    width: calc(8.33333% - 9.16667px);
  }
  .push-md-1-12 {
    margin-left: 8.33333%;
  }
  .md-2-2 {
    width: calc(100% - 0px);
  }
  .push-md-2-2 {
    margin-left: 100%;
  }
  .md-2-3 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-md-2-3 {
    margin-left: 66.66667%;
  }
  .md-2-4 {
    width: calc(50% - 5px);
  }
  .push-md-2-4 {
    margin-left: 50%;
  }
  .md-2-5 {
    width: calc(40% - 6px);
  }
  .push-md-2-5 {
    margin-left: 40%;
  }
  .md-2-6 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-md-2-6 {
    margin-left: 33.33333%;
  }
  .md-2-7 {
    width: calc(28.57143% - 7.14286px);
  }
  .push-md-2-7 {
    margin-left: 28.57143%;
  }
  .md-2-8 {
    width: calc(25% - 7.5px);
  }
  .push-md-2-8 {
    margin-left: 25%;
  }
  .md-2-9 {
    width: calc(22.22222% - 7.77778px);
  }
  .push-md-2-9 {
    margin-left: 22.22222%;
  }
  .md-2-10 {
    width: calc(20% - 8px);
  }
  .push-md-2-10 {
    margin-left: 20%;
  }
  .md-2-11 {
    width: calc(18.18182% - 8.18182px);
  }
  .push-md-2-11 {
    margin-left: 18.18182%;
  }
  .md-2-12 {
    width: calc(16.66667% - 8.33333px);
  }
  .push-md-2-12 {
    margin-left: 16.66667%;
  }
  .md-3-3 {
    width: calc(100% - 0px);
  }
  .push-md-3-3 {
    margin-left: 100%;
  }
  .md-3-4 {
    width: calc(75% - 2.5px);
  }
  .push-md-3-4 {
    margin-left: 75%;
  }
  .md-3-5 {
    width: calc(60% - 4px);
  }
  .push-md-3-5 {
    margin-left: 60%;
  }
  .md-3-6 {
    width: calc(50% - 5px);
  }
  .push-md-3-6 {
    margin-left: 50%;
  }
  .md-3-7 {
    width: calc(42.85714% - 5.71429px);
  }
  .push-md-3-7 {
    margin-left: 42.85714%;
  }
  .md-3-8 {
    width: calc(37.5% - 6.25px);
  }
  .push-md-3-8 {
    margin-left: 37.5%;
  }
  .md-3-9 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-md-3-9 {
    margin-left: 33.33333%;
  }
  .md-3-10 {
    width: calc(30% - 7px);
  }
  .push-md-3-10 {
    margin-left: 30%;
  }
  .md-3-11 {
    width: calc(27.27273% - 7.27273px);
  }
  .push-md-3-11 {
    margin-left: 27.27273%;
  }
  .md-3-12 {
    width: calc(25% - 7.5px);
  }
  .push-md-3-12 {
    margin-left: 25%;
  }
  .md-4-4 {
    width: calc(100% - 0px);
  }
  .push-md-4-4 {
    margin-left: 100%;
  }
  .md-4-5 {
    width: calc(80% - 2px);
  }
  .push-md-4-5 {
    margin-left: 80%;
  }
  .md-4-6 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-md-4-6 {
    margin-left: 66.66667%;
  }
  .md-4-7 {
    width: calc(57.14286% - 4.28571px);
  }
  .push-md-4-7 {
    margin-left: 57.14286%;
  }
  .md-4-8 {
    width: calc(50% - 5px);
  }
  .push-md-4-8 {
    margin-left: 50%;
  }
  .md-4-9 {
    width: calc(44.44444% - 5.55556px);
  }
  .push-md-4-9 {
    margin-left: 44.44444%;
  }
  .md-4-10 {
    width: calc(40% - 6px);
  }
  .push-md-4-10 {
    margin-left: 40%;
  }
  .md-4-11 {
    width: calc(36.36364% - 6.36364px);
  }
  .push-md-4-11 {
    margin-left: 36.36364%;
  }
  .md-4-12 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-md-4-12 {
    margin-left: 33.33333%;
  }
  .md-5-5 {
    width: calc(100% - 0px);
  }
  .push-md-5-5 {
    margin-left: 100%;
  }
  .md-5-6 {
    width: calc(83.33333% - 1.66667px);
  }
  .push-md-5-6 {
    margin-left: 83.33333%;
  }
  .md-5-7 {
    width: calc(71.42857% - 2.85714px);
  }
  .push-md-5-7 {
    margin-left: 71.42857%;
  }
  .md-5-8 {
    width: calc(62.5% - 3.75px);
  }
  .push-md-5-8 {
    margin-left: 62.5%;
  }
  .md-5-9 {
    width: calc(55.55556% - 4.44444px);
  }
  .push-md-5-9 {
    margin-left: 55.55556%;
  }
  .md-5-10 {
    width: calc(50% - 5px);
  }
  .push-md-5-10 {
    margin-left: 50%;
  }
  .md-5-11 {
    width: calc(45.45455% - 5.45455px);
  }
  .push-md-5-11 {
    margin-left: 45.45455%;
  }
  .md-5-12 {
    width: calc(41.66667% - 5.83333px);
  }
  .push-md-5-12 {
    margin-left: 41.66667%;
  }
  .md-6-6 {
    width: calc(100% - 0px);
  }
  .push-md-6-6 {
    margin-left: 100%;
  }
  .md-6-7 {
    width: calc(85.71429% - 1.42857px);
  }
  .push-md-6-7 {
    margin-left: 85.71429%;
  }
  .md-6-8 {
    width: calc(75% - 2.5px);
  }
  .push-md-6-8 {
    margin-left: 75%;
  }
  .md-6-9 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-md-6-9 {
    margin-left: 66.66667%;
  }
  .md-6-10 {
    width: calc(60% - 4px);
  }
  .push-md-6-10 {
    margin-left: 60%;
  }
  .md-6-11 {
    width: calc(54.54545% - 4.54545px);
  }
  .push-md-6-11 {
    margin-left: 54.54545%;
  }
  .md-6-12 {
    width: calc(50% - 5px);
  }
  .push-md-6-12 {
    margin-left: 50%;
  }
  .md-7-7 {
    width: calc(100% - 0px);
  }
  .push-md-7-7 {
    margin-left: 100%;
  }
  .md-7-8 {
    width: calc(87.5% - 1.25px);
  }
  .push-md-7-8 {
    margin-left: 87.5%;
  }
  .md-7-9 {
    width: calc(77.77778% - 2.22222px);
  }
  .push-md-7-9 {
    margin-left: 77.77778%;
  }
  .md-7-10 {
    width: calc(70% - 3px);
  }
  .push-md-7-10 {
    margin-left: 70%;
  }
  .md-7-11 {
    width: calc(63.63636% - 3.63636px);
  }
  .push-md-7-11 {
    margin-left: 63.63636%;
  }
  .md-7-12 {
    width: calc(58.33333% - 4.16667px);
  }
  .push-md-7-12 {
    margin-left: 58.33333%;
  }
  .md-8-8 {
    width: calc(100% - 0px);
  }
  .push-md-8-8 {
    margin-left: 100%;
  }
  .md-8-9 {
    width: calc(88.88889% - 1.11111px);
  }
  .push-md-8-9 {
    margin-left: 88.88889%;
  }
  .md-8-10 {
    width: calc(80% - 2px);
  }
  .push-md-8-10 {
    margin-left: 80%;
  }
  .md-8-11 {
    width: calc(72.72727% - 2.72727px);
  }
  .push-md-8-11 {
    margin-left: 72.72727%;
  }
  .md-8-12 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-md-8-12 {
    margin-left: 66.66667%;
  }
  .md-9-9 {
    width: calc(100% - 0px);
  }
  .push-md-9-9 {
    margin-left: 100%;
  }
  .md-9-10 {
    width: calc(90% - 1px);
  }
  .push-md-9-10 {
    margin-left: 90%;
  }
  .md-9-11 {
    width: calc(81.81818% - 1.81818px);
  }
  .push-md-9-11 {
    margin-left: 81.81818%;
  }
  .md-9-12 {
    width: calc(75% - 2.5px);
  }
  .push-md-9-12 {
    margin-left: 75%;
  }
  .md-10-10 {
    width: calc(100% - 0px);
  }
  .push-md-10-10 {
    margin-left: 100%;
  }
  .md-10-11 {
    width: calc(90.90909% - 0.90909px);
  }
  .push-md-10-11 {
    margin-left: 90.90909%;
  }
  .md-10-12 {
    width: calc(83.33333% - 1.66667px);
  }
  .push-md-10-12 {
    margin-left: 83.33333%;
  }
  .md-11-11 {
    width: calc(100% - 0px);
  }
  .push-md-11-11 {
    margin-left: 100%;
  }
  .md-11-12 {
    width: calc(91.66667% - 0.83333px);
  }
  .push-md-11-12 {
    margin-left: 91.66667%;
  }
  .md-12-12 {
    width: calc(100% - 0px);
  }
  .push-md-12-12 {
    margin-left: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .lg-1-1 {
    width: calc(100% - 0px);
  }
  .push-lg-1-1 {
    margin-left: 100%;
  }
  .lg-1-2 {
    width: calc(50% - 5px);
  }
  .push-lg-1-2 {
    margin-left: 50%;
  }
  .lg-1-3 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-lg-1-3 {
    margin-left: 33.33333%;
  }
  .lg-1-4 {
    width: calc(25% - 7.5px);
  }
  .push-lg-1-4 {
    margin-left: 25%;
  }
  .lg-1-5 {
    width: calc(20% - 8px);
  }
  .push-lg-1-5 {
    margin-left: 20%;
  }
  .lg-1-6 {
    width: calc(16.66667% - 8.33333px);
  }
  .push-lg-1-6 {
    margin-left: 16.66667%;
  }
  .lg-1-7 {
    width: calc(14.28571% - 8.57143px);
  }
  .push-lg-1-7 {
    margin-left: 14.28571%;
  }
  .lg-1-8 {
    width: calc(12.5% - 8.75px);
  }
  .push-lg-1-8 {
    margin-left: 12.5%;
  }
  .lg-1-9 {
    width: calc(11.11111% - 8.88889px);
  }
  .push-lg-1-9 {
    margin-left: 11.11111%;
  }
  .lg-1-10 {
    width: calc(10% - 9px);
  }
  .push-lg-1-10 {
    margin-left: 10%;
  }
  .lg-1-11 {
    width: calc(9.09091% - 9.09091px);
  }
  .push-lg-1-11 {
    margin-left: 9.09091%;
  }
  .lg-1-12 {
    width: calc(8.33333% - 9.16667px);
  }
  .push-lg-1-12 {
    margin-left: 8.33333%;
  }
  .lg-2-2 {
    width: calc(100% - 0px);
  }
  .push-lg-2-2 {
    margin-left: 100%;
  }
  .lg-2-3 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-lg-2-3 {
    margin-left: 66.66667%;
  }
  .lg-2-4 {
    width: calc(50% - 5px);
  }
  .push-lg-2-4 {
    margin-left: 50%;
  }
  .lg-2-5 {
    width: calc(40% - 6px);
  }
  .push-lg-2-5 {
    margin-left: 40%;
  }
  .lg-2-6 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-lg-2-6 {
    margin-left: 33.33333%;
  }
  .lg-2-7 {
    width: calc(28.57143% - 7.14286px);
  }
  .push-lg-2-7 {
    margin-left: 28.57143%;
  }
  .lg-2-8 {
    width: calc(25% - 7.5px);
  }
  .push-lg-2-8 {
    margin-left: 25%;
  }
  .lg-2-9 {
    width: calc(22.22222% - 7.77778px);
  }
  .push-lg-2-9 {
    margin-left: 22.22222%;
  }
  .lg-2-10 {
    width: calc(20% - 8px);
  }
  .push-lg-2-10 {
    margin-left: 20%;
  }
  .lg-2-11 {
    width: calc(18.18182% - 8.18182px);
  }
  .push-lg-2-11 {
    margin-left: 18.18182%;
  }
  .lg-2-12 {
    width: calc(16.66667% - 8.33333px);
  }
  .push-lg-2-12 {
    margin-left: 16.66667%;
  }
  .lg-3-3 {
    width: calc(100% - 0px);
  }
  .push-lg-3-3 {
    margin-left: 100%;
  }
  .lg-3-4 {
    width: calc(75% - 2.5px);
  }
  .push-lg-3-4 {
    margin-left: 75%;
  }
  .lg-3-5 {
    width: calc(60% - 4px);
  }
  .push-lg-3-5 {
    margin-left: 60%;
  }
  .lg-3-6 {
    width: calc(50% - 5px);
  }
  .push-lg-3-6 {
    margin-left: 50%;
  }
  .lg-3-7 {
    width: calc(42.85714% - 5.71429px);
  }
  .push-lg-3-7 {
    margin-left: 42.85714%;
  }
  .lg-3-8 {
    width: calc(37.5% - 6.25px);
  }
  .push-lg-3-8 {
    margin-left: 37.5%;
  }
  .lg-3-9 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-lg-3-9 {
    margin-left: 33.33333%;
  }
  .lg-3-10 {
    width: calc(30% - 7px);
  }
  .push-lg-3-10 {
    margin-left: 30%;
  }
  .lg-3-11 {
    width: calc(27.27273% - 7.27273px);
  }
  .push-lg-3-11 {
    margin-left: 27.27273%;
  }
  .lg-3-12 {
    width: calc(25% - 7.5px);
  }
  .push-lg-3-12 {
    margin-left: 25%;
  }
  .lg-4-4 {
    width: calc(100% - 0px);
  }
  .push-lg-4-4 {
    margin-left: 100%;
  }
  .lg-4-5 {
    width: calc(80% - 2px);
  }
  .push-lg-4-5 {
    margin-left: 80%;
  }
  .lg-4-6 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-lg-4-6 {
    margin-left: 66.66667%;
  }
  .lg-4-7 {
    width: calc(57.14286% - 4.28571px);
  }
  .push-lg-4-7 {
    margin-left: 57.14286%;
  }
  .lg-4-8 {
    width: calc(50% - 5px);
  }
  .push-lg-4-8 {
    margin-left: 50%;
  }
  .lg-4-9 {
    width: calc(44.44444% - 5.55556px);
  }
  .push-lg-4-9 {
    margin-left: 44.44444%;
  }
  .lg-4-10 {
    width: calc(40% - 6px);
  }
  .push-lg-4-10 {
    margin-left: 40%;
  }
  .lg-4-11 {
    width: calc(36.36364% - 6.36364px);
  }
  .push-lg-4-11 {
    margin-left: 36.36364%;
  }
  .lg-4-12 {
    width: calc(33.33333% - 6.66667px);
  }
  .push-lg-4-12 {
    margin-left: 33.33333%;
  }
  .lg-5-5 {
    width: calc(100% - 0px);
  }
  .push-lg-5-5 {
    margin-left: 100%;
  }
  .lg-5-6 {
    width: calc(83.33333% - 1.66667px);
  }
  .push-lg-5-6 {
    margin-left: 83.33333%;
  }
  .lg-5-7 {
    width: calc(71.42857% - 2.85714px);
  }
  .push-lg-5-7 {
    margin-left: 71.42857%;
  }
  .lg-5-8 {
    width: calc(62.5% - 3.75px);
  }
  .push-lg-5-8 {
    margin-left: 62.5%;
  }
  .lg-5-9 {
    width: calc(55.55556% - 4.44444px);
  }
  .push-lg-5-9 {
    margin-left: 55.55556%;
  }
  .lg-5-10 {
    width: calc(50% - 5px);
  }
  .push-lg-5-10 {
    margin-left: 50%;
  }
  .lg-5-11 {
    width: calc(45.45455% - 5.45455px);
  }
  .push-lg-5-11 {
    margin-left: 45.45455%;
  }
  .lg-5-12 {
    width: calc(41.66667% - 5.83333px);
  }
  .push-lg-5-12 {
    margin-left: 41.66667%;
  }
  .lg-6-6 {
    width: calc(100% - 0px);
  }
  .push-lg-6-6 {
    margin-left: 100%;
  }
  .lg-6-7 {
    width: calc(85.71429% - 1.42857px);
  }
  .push-lg-6-7 {
    margin-left: 85.71429%;
  }
  .lg-6-8 {
    width: calc(75% - 2.5px);
  }
  .push-lg-6-8 {
    margin-left: 75%;
  }
  .lg-6-9 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-lg-6-9 {
    margin-left: 66.66667%;
  }
  .lg-6-10 {
    width: calc(60% - 4px);
  }
  .push-lg-6-10 {
    margin-left: 60%;
  }
  .lg-6-11 {
    width: calc(54.54545% - 4.54545px);
  }
  .push-lg-6-11 {
    margin-left: 54.54545%;
  }
  .lg-6-12 {
    width: calc(50% - 5px);
  }
  .push-lg-6-12 {
    margin-left: 50%;
  }
  .lg-7-7 {
    width: calc(100% - 0px);
  }
  .push-lg-7-7 {
    margin-left: 100%;
  }
  .lg-7-8 {
    width: calc(87.5% - 1.25px);
  }
  .push-lg-7-8 {
    margin-left: 87.5%;
  }
  .lg-7-9 {
    width: calc(77.77778% - 2.22222px);
  }
  .push-lg-7-9 {
    margin-left: 77.77778%;
  }
  .lg-7-10 {
    width: calc(70% - 3px);
  }
  .push-lg-7-10 {
    margin-left: 70%;
  }
  .lg-7-11 {
    width: calc(63.63636% - 3.63636px);
  }
  .push-lg-7-11 {
    margin-left: 63.63636%;
  }
  .lg-7-12 {
    width: calc(58.33333% - 4.16667px);
  }
  .push-lg-7-12 {
    margin-left: 58.33333%;
  }
  .lg-8-8 {
    width: calc(100% - 0px);
  }
  .push-lg-8-8 {
    margin-left: 100%;
  }
  .lg-8-9 {
    width: calc(88.88889% - 1.11111px);
  }
  .push-lg-8-9 {
    margin-left: 88.88889%;
  }
  .lg-8-10 {
    width: calc(80% - 2px);
  }
  .push-lg-8-10 {
    margin-left: 80%;
  }
  .lg-8-11 {
    width: calc(72.72727% - 2.72727px);
  }
  .push-lg-8-11 {
    margin-left: 72.72727%;
  }
  .lg-8-12 {
    width: calc(66.66667% - 3.33333px);
  }
  .push-lg-8-12 {
    margin-left: 66.66667%;
  }
  .lg-9-9 {
    width: calc(100% - 0px);
  }
  .push-lg-9-9 {
    margin-left: 100%;
  }
  .lg-9-10 {
    width: calc(90% - 1px);
  }
  .push-lg-9-10 {
    margin-left: 90%;
  }
  .lg-9-11 {
    width: calc(81.81818% - 1.81818px);
  }
  .push-lg-9-11 {
    margin-left: 81.81818%;
  }
  .lg-9-12 {
    width: calc(75% - 2.5px);
  }
  .push-lg-9-12 {
    margin-left: 75%;
  }
  .lg-10-10 {
    width: calc(100% - 0px);
  }
  .push-lg-10-10 {
    margin-left: 100%;
  }
  .lg-10-11 {
    width: calc(90.90909% - 0.90909px);
  }
  .push-lg-10-11 {
    margin-left: 90.90909%;
  }
  .lg-10-12 {
    width: calc(83.33333% - 1.66667px);
  }
  .push-lg-10-12 {
    margin-left: 83.33333%;
  }
  .lg-11-11 {
    width: calc(100% - 0px);
  }
  .push-lg-11-11 {
    margin-left: 100%;
  }
  .lg-11-12 {
    width: calc(91.66667% - 0.83333px);
  }
  .push-lg-11-12 {
    margin-left: 91.66667%;
  }
  .lg-12-12 {
    width: calc(100% - 0px);
  }
  .push-lg-12-12 {
    margin-left: 100%;
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 3em;
  height: 3em;
  text-align: center;
  color: #383838;
  border: 1px solid #6b6b6b;
  background: #d1d1d1;
  padding: 0 10px;
  border-radius: 0.3em;
  margin-bottom: 5px;
  overflow: hidden;
}

.btn:hover {
  text-shadow: 1px 1px 0 rgba(107, 107, 107, 0.5);
}

.btn:active {
  transform: scale(0.9);
}

.btn-info,
.btn-sucess,
.btn-primary,
.btn-warning,
.btn-danger,
.btn-info > i,
.btn-sucess > i,
.btn-primary > i,
.btn-warning > i,
.btn-danger > i {
  color: white !important;
}

.btn-default {
  background: #ebebeb;
  border-color: #ebebeb;
}

.btn-default:hover {
  background: #dedede;
}

.btn-default.outline, .btn-default.outline i {
  color: #ebebeb !important;
}

.btn-link {
  background: #673ab7;
  border-color: #673ab7;
}

.btn-link:hover {
  background: #5c34a4;
}

.btn-link.outline, .btn-link.outline i {
  color: #673ab7 !important;
}

.btn-info {
  background: #2196f3;
  border-color: #2196f3;
}

.btn-info:hover {
  background: #0d8aee;
}

.btn-info.outline, .btn-info.outline i {
  color: #2196f3 !important;
}

.btn-sucess {
  background: #58d68d;
  border-color: #58d68d;
}

.btn-sucess:hover {
  background: #44d17f;
}

.btn-sucess.outline, .btn-sucess.outline i {
  color: #58d68d !important;
}

.btn-warning {
  background: #f28f23;
  border-color: #f28f23;
}

.btn-warning:hover {
  background: #ed830f;
}

.btn-warning.outline, .btn-warning.outline i {
  color: #f28f23 !important;
}

.btn-danger {
  background: #e74c3c;
  border-color: #e74c3c;
}

.btn-danger:hover {
  background: #e43725;
}

.btn-danger.outline, .btn-danger.outline i {
  color: #e74c3c !important;
}

.btn-primary {
  background: #383838;
  border-color: #383838;
}

.btn-primary:hover {
  background: #2b2b2b;
}

.btn-primary.outline, .btn-primary.outline i {
  color: #383838 !important;
}

.btn-link {
  color: #673ab7;
}

.outline {
  background: white !important;
}

.btns, .btns-block {
  display: inline-block;
}

.btns-block {
  width: 100%;
}

.btn.tiny,
.btns.tiny .btn, .tiny.btns-block .btn {
  font-size: 0.7em;
}

.btn.big,
.btns.big .btn, .big.btns-block .btn {
  font-size: 1.42857em;
}

.btns [class*="btn"], .btns-block [class*="btn"] {
  border-radius: 0;
  float: left;
  box-shadow: 0 0 0 1px rgba(235, 235, 235, 0.2);
}

.btns > [class*="btn"]:not(:last-child):not(:first-child), .btns-block > [class*="btn"]:not(:last-child):not(:first-child) {
  border-left: none;
  border-right: none;
}

.btns .btn:last-child, .btns-block .btn:last-child {
  border-radius: 0 5px 5px 0;
}

.btns .btn:first-child, .btns-block .btn:first-child {
  border-radius: 5px 0 0 5px;
}

.btn-icon > span:last-child {
  padding-left: 10px;
}

.btn-icon > span:first-child {
  padding-right: 10px;
}
