.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

span.code {
  color: #27ae60;
}

span.grey {
  color: #7f8c8d;
}

span.color {
  color: #27ae60;
}

.title {
  font-size: 10em;
}

@media all and (max-width: 480px) {
  .title {
    font-size: 2.2em;
  }
}

@media all and (min-width: 481px) {
  .title {
    font-size: 5em;
  }
}

@media all and (min-width: 768px) {
  .title {
    font-size: 8em;
  }
}

.sub {
  color: #212121;
  font-size: 2em;
}

.descripcion {
  color: #212121;
}

@media all and (max-width: 480px) {
  .descripcion {
    font-size: .8em;
  }
}
