.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

span.code {
  color: #58d68d;
}

span.grey {
  color: #4d4d4d;
}

span.color {
  color: #58d68d;
}

.title {
  font-size: 10em;
}

@media all and (max-width: 480px) {
  .title {
    font-size: 2.2em;
  }
}

@media all and (min-width: 481px) {
  .title {
    font-size: 5em;
  }
}

@media all and (min-width: 768px) {
  .title {
    font-size: 8em;
  }
}

.sub {
  color: #4d4d4d;
  font-size: 2em;
}

.descripcion {
  color: #4d4d4d;
}

@media all and (max-width: 480px) {
  .descripcion {
    font-size: .8em;
  }
}
