.index {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}

span.code {
  color: #27ae60;
}

span.grey {
  color: #7f8c8d;
}

span.color {
  color: #27ae60;
}

.title {
  font-size: 10em;
}

@media all and (max-width: 480px) {
  .title {
    font-size: 2.2em;
  }
}

@media all and (min-width: 481px) {
  .title {
    font-size: 5em;
  }
}

@media all and (min-width: 768px) {
  .title {
    font-size: 8em;
  }
}

.sub {
  color: #212121;
  font-size: 2em;
}

.descripcion {
  color: #212121;
}

@media all and (max-width: 480px) {
  .descripcion {
    font-size: .8em;
  }
}
