<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Document
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/style.css")
body
	.contenedor
		.fila
			.sm-1-1
				.title.t-right
					a(href="/")
						span.code #{"</"}
						span.grey Pi
						span.color c
						span.grey a
						span.color ss
						span.grey o
						span.code #{">"}
			.sm-1-1
				.sub				
					span.color Componentes
				hr
					