<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Document
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/index.css")
body
	.contenedor
		.index
			.fila
				.sm-1-1
					.title.t_right
						span.code #{"</"}
						span.grey Pi
						span.color c
						span.grey a
						span.color ss
						span.grey o
						span.code #{">"}
				.sm-1-1.m_top-25
					.sub
						|Framework
						span.color #{" css "}
						| al natural
				.sm-1-1
					.descripcion
						|diseñado para hacer mas natural
						|la creacion de layouts en nuestros sitios,
						|optimizado para dispositivos moviles

			.fila.m_top-25
				.md-1-5
					a.btn-icon.right.btn.btn-sucess(href="#")
						|Get Started !
						i.fa.fa-coffee
				.md-1-5
					a.btn-icon.right.btn.btn-sucess(href="#")
						|Components
						i.fa.fa-puzzle-piece
				.md-1-5
					a.btn-icon.right.btn.btn-sucess(href="#")
						|Download CSS
						i.fa.fa-download
				.md-1-5
					a.btn-icon.right.btn.btn-warning(href="#")
						|Source Code
						i.fa.fa-binoculars
				.md-1-5
					a.btn-icon.right.btn.btn-warning(href="#")
						|GitHub
						i.fa.fa-github
			.fila.m_top-25
				.sm-5-15
				.sm-1-9
					.btn.btn-info.btn-icon.left.outline
						|Facebook
						i.fa.fa-facebook
				.sm-1-9.t_center
					.btn.btn-info.btn-icon.left.outline
						|Twitter
						i.fa.fa-twitter
				.sm-1-9
					.btn.btn-primary.btn-icon.left.outline
						|Github
						i.fa.fa-github
				.sm-5-15
