<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Document
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/index.css")
body
	.index.t_center
		.title
			span.code #{"</"}
			span.grey Pi
			span.color c
			span.grey a
			span.color ss
			span.grey o
			span.code #{">"}
		.sub
			|Framework
			span.color #{" css "}
			| al natural
		.descripcion
			|diseñado para hacer mas natural
			|la creacion de layouts en nuestros sitios,
			|optimizado para dispositivos moviles

		.fila
			.col
				.sm-1-4
					a.btn-icon.right.btn.btn-sucess(href="#")
						|Grilla
						i.fa.fa-home.fa-2x
				.sm-1-4
					a.btn-icon.right.btn.btn-sucess(href="#")
						|Componentes
						i.fa.fa-home.fa-2x
				.sm-1-4
					a.btn-icon.right.btn.btn-sucess(href="#")
						|Issues
						i.fa.fa-home.fa-2x
				.sm-1-4
					a.btn-icon.right.btn.btn-warning(href="#")
						|GitHub
						i.fa.fa-github.fa-2x
