<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", type="text/css", href="css/normalize.css")
	link(rel="stylesheet", type="text/css", href="css/picasso.css")
	link(rel="stylesheet", type="text/css", href="css/index.css")
body
	.contenedor
		.index
			span.grey #{"</"}Pi
			span.orange c
			span.grey a
			span.orange ss
			span.grey o#{">"}
		h2
			|Framework css diseñado para hacer mas natural
			|la creacion de layouts en nuestros sitios,
			|optimizado para dispositivos moviles
		.fila
			.col-1-4
				.col
					a.btn.btn-link.big Grilla
				.col
					a.btn.btn-link.big Grid
				.col
					a.btn.btn-link.big Grid
				.col
					a.btn.btn-link.big Grid
