*{
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu';
	font-size: 1em;
}


a{
	text-decoration: none;
	color:$royal;
	&:link,&:visited{
		@extend a;
	}
	&:hover{
		color:darken($royal,10);
	}
	&:not(.btn){
		color:none;
	}
}

hr{
	border:none;
	border-top:1px solid rgba($carbon,.5)
}