.fila {
	font-size: 1rem;
	margin:$gutter/2 0;
	width:100%;
}

[class*="xs-"]{
	float:left;
	padding-right: $gutter/2;
	padding-left: $gutter/2;
	width:100%;
}

@include grilla($cols,$gutter,"xs");

@each $key,$val in $breakpoints {
	[class*="#{$key}-"]{
		@extend [class*="xs-"];
	}
	@media screen and (min-width:$val){
		@include grilla($cols,$gutter,$key);
	}
}

