@each $val,$key in $align {
	.t-#{$val} {
		text-align:#{$val};
	}
}

@each $val,$key in $directions {
	@for $i from 1 through 5 {
		.m-#{$val}-#{$i*5} {
			margin-#{$val}: $i*5px !important;
		}
	}
}

@each $val,$key in $breakpoints {
	@media all and (min-width:map-get($rangeDisp,#{$val+'-min'})) and (max-width:map-get($rangeDisp,#{$val+'-max'})) {
		.hide-#{$val} {
			display: none !important;
		}
	}
}

.block{
	width:100% !important;
}

.between{
	display:flex;
	justify-content:space-between;
}
