// --------------------------------------------
// titulo		:	tabs
// descripcion	:	creacion de margenes para la correcta
//					visualizacion de codigo predefinido

@mixin tabs($tabs) {
	@for $i from 1 through $tabs {
		.tab#{$i}:before{
			margin-right:8px * $i
		}
	}
}

// --------------------------------------------
// titulo   : grilla
// descrip  : creacion de la grilla de trabajo teniendo
//            en cuenta el diseño responsivo

@mixin grilla($cols,$gutter,$disp){
  @for $i from 1 through $cols {
      @for $j from $i through $cols {
      	.#{$disp}-#{$i}-#{$j}{
      		width: (100% / $j)*$i;
      	}
      	.push-#{$disp}-#{$i}-#{$j}{
      		margin-left: (100% / $j)*$i;
      	}
      }
    }
  }

// --------------------------------------------
// titulo   : grilla
// descrip  : creacion de la grilla de trabajo teniendo
//            en cuenta el diseño responsivo

@mixin botones($color){
    
}