// --------------------------------------------
// titulo		:	tabs
// descripcion	:	creacion de margenes para la correcta
//					visualizacion de codigo predefinido

@function tbs($cantidad){
  $tbs:"";
  @for $i from 1 through $cantidad  {
    $tbs: "\2022 " + $tbs;
  }
  @return $tbs;
}

@function LinearGradientDott($lineas,$color1,$color2){
  $cant: ($lineas*2) - 1;
  $porc: 100%/$cant;
  $dott:"linear-gradient(90deg";
  $color:"";
  @for $i from 1 through $cant {
    @if $i % 2 == 0 {
      $color:$color2;
    } @else if $i % 2 == 1 {
      $color:$color1;
    }

    $dott: $dott +" ,
     "+ $color +" "+ ($porc*($i - 1)) + "";
    $dott: $dott +" , "+ $color +" "+ ($porc*$i ) + "";
  }

  $dott: $dott + ")";

  @return unquote($dott);
}

@mixin tabs($cantidad){

    .inside.tab1,.inside.tab1:before {color:$rojo !important;}
    .tab1{
      &:before{
        color:rgba(0,0,0,.2);
      }
      &:hover{
        color:$rojo !important;
        &:before{
          color:$rojo;
        }
      }
    }
  @for $i from 1 through $cantidad{
    .tab#{$i}{
      @extend .tab1;
      &:before{
        color:rgba(0,0,0,.2);
        content:tbs($i);
      }
    }
  }
}

@include tabs(9);

// --------------------------------------------
// titulo   : grilla
// descrip  : creacion de la grilla de trabajo teniendo
//            en cuenta el diseño responsivo

@mixin grilla($cols,$gutter,$disp){
  @for $i from 1 through $cols {
      @for $j from $i through $cols {
      	.#{$disp}-#{$i}-#{$j}{
          $width: ($i/$j)*100%;
          $sep : (( $j - $i )*($gutter)*2)/$j;
          width: unquote("calc(" + #{$width} + " - " + #{$sep} + ")");
        }
      	.push-#{$disp}-#{$i}-#{$j}{
      		margin-left: (100% / $j)*$i;
      	}
      }
    }
  }

// --------------------------------------------
// titulo   : grilla
// descrip  : creacion de la grilla de trabajo teniendo
//            en cuenta el diseño responsivo

@mixin botones($color){

}
