// Verdes
$turquesa:#1abc9c;
$seagreen:#16a085;
$esmeralda:#2ecc71;
$nefritis:#27ae60;

// Azules
$river:#3498db;
$royal:#2980b9;
$asfalto:#34495e;
$noche:#2c3e50;

// Naranjas
$girasol:#f1c40f;
$naranja:#f39c12;
$zanahoria:#e67e22;
$calabaza:#d35400;

// Rojos
$alizarin:#e74c3c;
$granada:#c0392b;

// Grises
$nublado:#ecf0f1;
$plata:#bdc3c7;
$concreto:#95a5a6;
$asbesto:#7f8c8d;
$carbon:#212121;