
// Paleta de colores

	$rojo:#e74c3c ;
	$rosa:#e91e63 ;
	$purpura:#9c27b0 ;
	$violeta:#673ab7 ;
	$indigo:#3f51b5 ;
	$azul:#2196f3 ;
	$oceano:#03a9f4 ;
	$cyan:#00bcd4 ;
	$teal:#009688 ;
	$verde:#58d68d ;
	$aceituna:#8bc34a ;
	$lima:#cddc39 ;
	$amarillo:#ffeb3b ;
	$amber:#ffc107 ;
	$naranja:#ff9800 ;
	$calabaza:#ff5722 ;
	$marron:#795548 ;
	$gris:#9e9e9e ;
	$asbesto:#607d8b ;
	$carbon : darken($asbesto + $gris,70);
	$blanco : lighten($asbesto + $gris,70);



// Paleta de colores
$pallete:(
	rojo:$rojo,
	rosa:$rosa,
	purpura:$purpura,
	violeta:$violeta,
	indigo:$indigo,
	azul:$azul,
	oceano:$oceano,
	cyan:$cyan,
	teal:$teal,
	verde:$verde,
	aceituna:$aceituna,
	lima:$lima,
	amarillo:$amarillo,
	amber:$amber,
	naranja:$naranja,
	calabaza:$calabaza,
	marron:$marron,
	gris:$gris,
	asbesto:$asbesto,
	carbon:$carbon,
	blanco:$blanco,
);

// Columnas
	$cols : 12;

// Separacion
	$gutter: 8px;

// Radio de curva
	$radius:.3em;

// Factor de incremento/decremento
	$factor : 20 / 14;

$directions : (
	top :"top",
	left:"left",
	bottom:"bottom",
	right:"right",
	);

$align : (
	left:"left",
	right:"right",
	center :"center",
	justify:"justify",
	);


$buttons :(
	default:lighten($gris,30),
	link:$violeta,
	info:$azul,
	sucess:$verde,
	warning: darken(($amarillo + $rojo)/2,5),
	danger:$rojo,
	primary:darken($gris,40),
	);

// Pantallas

$movil : 480px;
$tableta : 768px;
$escritorio : 1024px;
$tv : 1280px;

$breakpoints : (
	sm:$movil,
	md:$tableta,
	lg:$escritorio,
	);


$rangeDisp : (
	sm-min:240px,
	sm-max : $movil,

	md-min:$movil+1,
	md-max:$tableta,

	lg-min:$tableta+1,
	lg-max:$tv*2,
);
