
// Paleta de colores
	// Verdes
	$turquesa:#1abc9c;
	$seagreen:#16a085;
	$esmeralda:#2ecc71;
	$nefritis:#27ae60;

	// Azules
	$river:#3498db;
	$royal:#2980b9;
	$asfalto:#34495e;
	$noche:#2c3e50;

	// Naranjas
	$girasol:#f1c40f;
	$naranja:#f39c12;
	$zanahoria:#e67e22;
	$calabaza:#d35400;

	// Rojos
	$alizarin:#e74c3c;
	$granada:#c0392b;

	// Grises
	$blanco:#eeeeee;
	$nublado:#ecf0f1;
	$plata:#bdc3c7;
	$concreto:#95a5a6;
	$asbesto:#7f8c8d;
	$carbon:#212121;
	$negro:#121212;

// Columnas
	$cols : 20;

// Separacion
	$gutter: 10px;

// Radio de curva
	$radius:.3em;

$directions : (
	top :"top",
	left:"left",
	bottom:"bottom",
	right:"right",
	);

$align : (
	left:"left",
	right:"right",
	center :"center",
	justify:"justify",
	);


$buttons :(
	default:$nublado,
	info:$royal,
	sucess:$esmeralda,
	warning:$zanahoria,
	danger:$granada,
	reverse:$carbon,
	);

// Pantallas

$movil : 480px;
$tableta : 768px;
$escritorio : 1024px;
$tv : 1280px;

$breakpoints : (
	sm:$movil,
	md:$tableta,
	lg:$escritorio,
	);


$rangeDisp : (
	sm-min:240px,
	sm-max : $movil,

	md-min:$movil+1,
	md-max:$tableta,

	lg-min:$tableta+1,
	lg-max:$tv*2,
);


